{% extends '../layout.njk' %}

{% block content %}
  <div class="chefs-list">
    <header>
      <h3>
        Gerenciar chefs
      </h3>
    </header>

    <div class="chef-grid">

      {% for chef in chefs %}
        <div class="chef">
          <div class="chef-img">
            <img src="{{chef.file}}" alt="Foto de {{chef.name}}">
          </div>

          <div class="chef-textual">
            <div class="chef-name">
              <p>{{chef.name}}</p>
            </div>
            <div class="chef-detail">
              <a href="/admin/chefs/{{chef.id}}">Visualizar</a>
            </div>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>

{% endblock content %}