{% extends 'admin/layout.njk' %}

{% block content %}

<div class="edit-wrapper">
  <header>
    <h3>Criar novo usuário</h3>
    <div class="edit-buttons">
      <button type='submit' form='create-form' class='save-button'>Salvar chef</button>
    </div>
  </header>
</div>

<form id='create-form' method='POST' action='/admin/chefs' class="edit-wrapper" enctype="multipart/form-data">

  {% include '../parts/chefs-fields.njk' %}

</form>

{% endblock %}