{% extends '../layout.njk' %}

{%block content%}

<div class="edit-wrapper">
  <header>
    <h3>Editando chef:
      {{chef.name}}</h3>
    <div class="edit-buttons">
      <button type='submit' form='form-delete' class='delete-button'>Deletar</button>
      <button type='submit' form='form-edit' class='save-button'>Salvar chef</a>
    </div>
  </header>

  <form id='form-edit' method='POST' action='/admin/chefs?_method=PUT' class="edit-wrapper"
    enctype="multipart/form-data">

    {% include '../parts/chefs-fields.njk' %}

    <input type="hidden" name='id' value="{{chef.id}}">

  </form>

  <form id='form-delete' method='POST' action='/admin/chefs?_method=DELETE'>
    <input type="hidden" name="file_id" value="{{chef.file_id}}">
    <input type="hidden" name="id" value="{{chef.id}}">
  </form>
</div>
{% endblock %}