{% extends "../layout.njk" %}
{%block title%}
     <title>Foodfy Admin</title>
{%endblock title%}

{%block links%}
     <link rel="stylesheet" href="/styles/admin/chefs/show.css">
     <link rel="stylesheet" href="/styles/admin/header.css">
     <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}
     <div class="edit">
          <a href="/admin/chefs/{{chef.chef_id}}/edit">
               Editar</a>
     </div>
     <section class="chef">

          <div class="card" id="{{chef.chef_id}}">
               <div class="avatar">
                    <img src="{{chef.avatar_url}}">
               </div>

               <div class="recipeDetail">
                    <div class="author">
                         <p>{{chef.name}}</p>
                    </div>
                    <div class="total_recipes">
                         <p>
                              {% if totalRecipes > 1 %}{{totalRecipes}}
                                   receitas cadastradas{% endif %}
                              {% if totalRecipes == 0 %}Nenhuma receita cadastrada{% endif %}
                              {% if totalRecipes == 1 %}{{totalRecipes}}
                                   receita cadastrada{% endif %}
                         </p>
                    </div>
               </div>
          </div>
     
          {%if totalRecipes > 0 %}
         {% include '../../recipes_list.njk' %}  
         {%endif%}
          </section>

     {% endblock content %}