{% extends "../layout.njk" %}
{%block title%}
     <title>Chef
          {{chef.name}}</title>
{%endblock title%}

{%block links%}
     <link rel="stylesheet" href="/styles/admin/chefs/show.css">
     <link rel="stylesheet" href="/styles/admin/header.css">
     <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}
     <div class="edit">
          <a href="/admin/chefs/{{chef.id}}/edit">
               Editar</a>
     </div>
     <section class="chef">

          <div class="card" id="{{chef.id}}">

               <div class="avatar" style="background-image: url('{{chefAvatar.path if chefAvatar.path else '//placehold.it/500X360?text=Sem Imagem'}}')"></div>

               <div class="recipeDetail">
                    <div class="author">
                         <p>{{chef.name}}</p>
                    </div>
                    <div class="total_recipes">
                         <p>
                              {% if chef.total_recipes == 1 %}
                                   Uma receita cadastrada
                              {% elif chef.total_recipes > 1%}
                                   {{chef.total_recipes}}
                                   Receitas cadastradas
                              {% else %}
                                   Nenhuma receita cadastrada
                              {% endif %}
                         </p>
                    </div>
               </div>
          </div>
     </section>

     {% if totalRecipes == 1 %}
          <section class="only_recipe">
               <div class="one_recipe">
                    {% for recipe in recipes %}

                         <div class="recipe-img">
                              <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                         </div>

                         <div class="recipe-content">
                              <h3>{{recipe.title}}</h3>

                              <div class="recipe-chef">
                                   <p>
                                        por
                                        {{chef.name}}
                                   </p>
                              </div>

                              <div class="show_more">
                                   <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                              </div>
                         </div>
                    {% endfor %}
               </div>
          </section>
     {% else %}

            <section class="recipes">
               <div class="recipes-grid">
                    {% for recipe in recipes %}

                         <div class="recipe">

                              <div class="recipe-img">
                                   <img src="{{recipe.image}}" alt="imagem de {{recipe.title}}">
                              </div>

                              <div class="recipe-content">
                                   <h3>{{recipe.title}}</h3>

                                   <div class="recipe-chef">
                                        <p>
                                             por
                                             {{chef.name}}
                                        </p>
                                   </div>

                                   <div class="show_more">
                                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                                   </div>

                              </div>
                         </div>

                    {% endfor %}
               </div>
          </section>
     {% endif %}
{% endblock content %}