{% extends "../layout.njk" %}
{%block title%}
     <title>Chef
          {{chef.name}}</title>
{%endblock title%}

{%block links%}
     <link rel="stylesheet" href="/styles/admin/chefs/show.css">
     <link rel="stylesheet" href="/styles/admin/header.css">
     <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}
     <div class="edit">
          <a href="/admin/chefs/{{chefId}}/edit">
               Editar</a>
     </div>
     <section class="chef">

          <div class="card" id="{{chefId}}">

               <div class="avatar">
                    {% if not files[0] %}
                         <img src="http://placehold.it/500x500?text=CHEF SEM FOTO">
                    {% else %}
                         <img src="{{files[0].src}}" alt="{{files[0].name}}">
                    {% endif %}
               </div>

               <div class="recipeDetail">
                    <div class="author">
                         <p>{{chef.name}}</p>
                    </div>
                    <div class="total_recipes">
                         <p>
                              {% if totalRecipes > 1 %}{{totalRecipes}}
                                   receitas cadastradas{% endif %}
                              {% if totalRecipes == 0 %}Nenhuma receita cadastrada{% endif %}
                              {% if totalRecipes == 1 %}{{totalRecipes}}
                                   receita cadastrada{% endif %}
                         </p>
                    </div>
               </div>
          </div>
     </section>

     {% if totalRecipes == 1 %}
          <section class="only_recipe">
               <div class="one_recipe">
                    {% for recipe in recipes %}

                         <div class="recipe-img">
                              <img src="{{recipe_files[0].src}}" alt="{{recipe_files[0].name}}">
                         </div>

                         <div class="recipe-content">
                              <h3>{{recipe.title}}</h3>

                              <div class="recipe-chef">
                                   <p>
                                        por
                                        {{chef.name}}
                                   </p>
                              </div>

                              <div class="show_more">
                                   <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                              </div>
                         </div>
                    {% endfor %}
               </div>
          </section>
     {% else %}

          <section class="recipes">
               <div class="recipes-grid">
                    {% for recipe in recipes %}

                         <div class="recipe">

                              <div class="recipe-img">
                                   <img src="{{recipe_files[0].src}}" alt="{{recipe_files[0].name}}">
                              </div>

                              <div class="recipe-content">
                                   <h3>{{recipe.title}}</h3>

                                   <div class="recipe-chef">
                                        <p>
                                             por
                                             {{chef.name}}
                                        </p>
                                   </div>

                                   <div class="show_more">
                                        <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
                                   </div>

                              </div>
                         </div>
                    {% endfor %}
               </section>
          {% endif %}
     {% endblock content %}