@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/*==FILTER AND NEW CHEF==*/

.chefs-header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 950px;
    margin: 5vh auto;
}

.chefs-header-buttons form {
    display: grid;
    grid-template-columns: 1fr 80px;
    align-items: center;
}

.chefs-header-buttons a {
    background-color: #52ABF4;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 200ms;
}

.chefs-header-buttons a:hover {
    background-color: #1088d8;
}

button[type="submit"] {
    background-image: url(../../../assets/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 24px;
    background-color: #52ABF4;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 16px;
    margin-left: 2px;
    transition: 200ms;
}

button[type="submit"]:hover {
    background-color: #1088d8;
}

.chefs-header-buttons input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}


/*==CHEFS GRID==*/

.title {
    font-size: 24px;
    align-items: center;
    width: 950px;
    margin: 2vh auto;
}

.chefs {
    width: 950px;
    margin: auto;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 36px;
}

.content {
    margin-top: 16px;
    text-transform: capitalize;
}

.name h4 {
    font-size: 16px;
}

.avatar img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.show-more a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #D15B75;
    border-radius: 8px;
}

.show-more a:hover {
    color: #1583e9;
}


/*==PAGINATION==*/

.pagination {
    text-align: center;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: #D15B75;
    text-decoration: none;
    margin-right: 16px;
    font-size: 20px;
}

.pagination a:hover {
    color: #52ABF4;
    border-bottom: 1px solid #52ABF4;
}