@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/* == TITLE== */

h2 {
    color: rgb(0, 0, 0);
    width: 50%;
    margin: 0;
}

.top {
    width: 940px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    margin-left: 12%;
}


/* == FORM== */

.details {
    padding: 24px;
    width: 50%;
    margin: 0 auto;
}

.details .item {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

.title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    border: solid #F3CED6 2px;
}

textarea {
    width: 600px;
    border-radius: 10px;
    height: 80px;
    margin-top: 8px;
    border: solid #F3CED6 2px;
    font-family: 'Roboto', sans-serif;
}

input::placeholder,
textarea::placeholder {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

#ingredients,
#actions {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

#ingredients p,
#actions p {
    font-size: 14px;
    font-weight: 700;
}


/* == BUTTONS== */

.save,
.delete {
    padding: 4px 24px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.save {
    background-color: #5F891A;
    margin-left: 50px;
}

.delete {
    background-color: rgb(194, 70, 70);
}

.add-ingredient,
.add-action {
    text-align: center;
    text-decoration: none;
    padding: 4px 8px;
    background-color: #DE7C95;
    color: white;
    border-radius: 8px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 10px;
}