@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #141414;
}


/* == TITLE== */

h2 {
    width: 50%;
    margin-bottom: 16px;
    margin-left: 8px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin-bottom: 8px;
}

.form-header-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
    margin: 0 32vw;
}


/* == FORM== */

.details {
    padding: 24px;
    width: 50%;
    margin: 0 30vw;
}

.details .item {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
}

input {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    border: solid #F3CED6 2px;
}

input::placeholder {
    text-align: left;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.image-name {
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    background-color: #fdfdfd;
    border: solid #e7dbde 2px;
}

.image-name p {
    color: rgb(119, 119, 119);
    font-weight: normal;
}


/* ==BUTTONS== */

.save,
.delete {
    padding: 8px 16px;
    background-color: #5F891A;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 200ms;
}

.delete {
    background-color: #ad1b1b;
}

.save:hover {
    background-color: #436113;
}

.delete:hover {
    background-color: #811818;
}


/*==IMAGE UPLOAD==*/

form .item #photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    width: 85%;
}

form .item #photos-upload p {
    margin-top: 8px;
    padding: 8px;
    border-radius: 5px;
    width: 95%;
    background-color: #DE7C95;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
}

#photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}