@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.chef {
    margin: 5vh auto;
    align-items: center;
    text-align: center;
}

.edit a {
    background-color: #52ABF4;
    padding: 8px 24px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-size: 700;
    margin-left: 100px;
}

.avatar img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: solid #52ABF4;
}

.recipeDetail {
    text-align: center;
}

.author p {
    font-weight: 700;
    font-size: 20px;
}

.total_recipes {
    color: #DE7C95;
    font-weight: 700;
}

.top input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}

.recipes {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.recipes-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipes-grid {
    display: grid;
    width: 950px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipes-grid .recipe-img img {
    height: 120px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.recipes-grid .recipe {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.recipe-content {
    font-size: 16px;
    text-align: left;
}

.recipe-chef {
    color: #777;
    margin-bottom: 8px;
    font-size: 16px;
}

.show_more a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #D15B75;
    border-radius: 8px;
}

.total_recipes {
    margin-bottom: 80px;
}