@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}


/* == TITLE AND PICTURE== */

.top input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}

.edit a {
    padding: 8px 16px;
    background-color: #52ABF4;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 200ms;
    margin-left: 200px;
}

.edit a:hover {
    background-color: #1088d8;
}

.chef {
    margin: 5vh auto;
    align-items: center;
    text-align: center;
}

.avatar {
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid #52ABF4;
}

.total_recipes {
    margin-bottom: 40px;
    color: #DE7C95;
    font-weight: 700;
}


/* == RECIPE (totalRecipe=1) == */

.only_recipe {
    width: 960px;
    margin: 0 auto;
}

.one_recipe {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
}

.one_recipe .recipe-img img {
    height: 120px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    margin: 0;
}


/* == RECIPES GRID== */

.author p {
    font-weight: 700;
    font-size: 20px;
}

.recipes {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.recipes-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipes-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 500px 500px;
}

.recipes-grid .recipe {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
}

.recipes-grid .recipe-img img {
    height: 120px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.recipe-content {
    font-size: 16px;
    text-align: left;
}

.recipe-chef {
    color: #777;
    margin-bottom: 8px;
    font-size: 16px;
}

.show_more a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #D15B75;
    border-radius: 8px;
}


/* == FOOTER (for general show)== */

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 0.5%;
}