<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles/foodfy/index.css">
<link rel="stylesheet" href="/styles/foodfy/chefs.css">
<link rel="stylesheet" href="/styles/foodfy/recipes.css">
<link rel="stylesheet" href="/styles/foodfy/about.css">