<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="/assets/logo.png" alt="logomarca">
            <a class="header-item" href="/views/about.html">Sobre</a>
            <a class="header-item" href="/views/recipe.html">Receitas</a>
            <a class="header-item" href="/views/index.html">
                <i class="fas fa-home"></i>
            </a>
        </header>
        <section id="about">
            <div class="container2">
                <div class="content">
                    <div class="title">
                        Sobre o Foodfy
                    </div>
                    <p>Donec finibus ultrices sodales. Duis semper mollis nisl at facilisis. Vivamus posuere feugiat risus posuere interdum. In posuere enim molestie urna cursus scelerisque. Nulla ullamcorper, lorem sed volutpat semper, augue nibh semper odio, quis suscipit dolor diam vitae nunc. Donec euismod diam urna, non blandit lorem feugiat ut. Phasellus ut hendrerit velit. Sed sit amet sem congue, malesuada neque eget, fermentum lacus.
                    </p>
                    <p>Nullam eu porta est, vel varius nulla. Nunc non tellus tellus. Suspendisse id aliquam magna. Duis suscipit volutpat tempor. Phasellus feugiat ultrices odio sed posuere. Praesent ullamcorper dictum tellus quis luctus. Nulla eu sapien sed erat tempus dapibus. Nulla lobortis tortor nec urna vulputate convallis id a ligula. Donec ac scelerisque dolor. Mauris nulla leo, faucibus in euismod sed, ultricies sed sapien. Cras cursus lacus elit, ac auctor ipsum sollicitudin convallis.</p>
                </div>
                <div class="content">
                <div class="title2">
                    Como tudo começou...
                </div>
                <p>Donec finibus ultrices sodales. Duis semper mollis nisl at facilisis. Vivamus posuere feugiat risus posuere interdum. In posuere enim molestie urna cursus scelerisque. Nulla ullamcorper, lorem sed volutpat semper, augue nibh semper odio, quis suscipit dolor diam vitae nunc. Donec euismod diam urna, non blandit lorem feugiat ut. Phasellus ut hendrerit velit. Sed sit amet sem congue, malesuada neque eget, fermentum lacus.
                </p>
                <p>Mauris mollis ipsum vel nisi ornare, et interdum nisl facilisis. Suspendisse quis lorem et leo luctus cursus. Ut accumsan leo urna, eu eleifend neque feugiat et. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin gravida ultrices dictum. Mauris vel metus ultrices orci sodales tempus in a orci. Ut condimentum felis nec nisl ultricies porttitor. Cras neque quam, accumsan eu tellus vitae, tincidunt lacinia lacus. Phasellus sed auctor sem, feugiat congue ex. Fusce eros quam, tincidunt id eros ac, aliquet feugiat mauris. Morbi laoreet scelerisque semper.</p>
            </div>
             <div class="content">
            <div class="title2">
                Nossas receitas
            </div>
            <p>Donec finibus ultrices sodales. Duis semper mollis nisl at facilisis. Vivamus posuere feugiat risus posuere interdum. In posuere enim molestie urna cursus scelerisque. Nulla ullamcorper, lorem sed volutpat semper, augue nibh semper odio, quis suscipit dolor diam vitae nunc. Donec euismod diam urna, non blandit lorem feugiat ut. Phasellus ut hendrerit velit. Sed sit amet sem congue, malesuada neque eget, fermentum lacus.
            Donec interdum ligula eget arcu sagittis suscipit. Duis at quam mollis, interdum mauris in, porttitor mauris. Praesent dui elit, auctor vitae commodo eu, vestibulum et nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ut euismod est, sed vulputate nibh. Vestibulum euismod ultricies nibh ut congue. In in magna commodo libero malesuada tempus vitae nec sem. Curabitur ut dui quam. Vivamus pretium purus pretium metus blandit, ut vestibulum mi consectetur.</p>
        </div>
        </div>
        <footer>
            <p>
                Todos os direitos reservados, receitas Foodfy.
            </p>
        </footer>

    </div>
</section>
</body>
</html>