<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles/recipe.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <img src="/assets/logo.png" alt="logomarca">
            <a class="header-item" href="/views/about.html">Sobre</a>
            <a class="header-item" href="/views/recipe.html">Receitas</a>
            <a class="header-item" href="/views/index.html">
                <i class="fas fa-home"></i>
            </a>
        </header>
          <section class="cards">
       

    <div class="card" id="burger.png">
         <div class="card-image">
              <img src="/assets/burger.png" alt="image burger">
         </div>
         <div class="card-info">
              <h3>Trigo bacon burger</h3>
              <p class="author">por Jorge Relato</p>
         </div>
     </div>

     <div class="card" id="pizza.png">
         <div class="card-image">
              <img src="/assets/pizza.png" alt="image pizza">
         </div>
         <div class="card-info">
              <h3>Pizza 4 estações</h3>
              <p class="author">por Fabiana Melo</p>
         </div>
     </div>

     <div class="card" id="espaguete.png">
         <div class="card-image">
              <img src="/assets/espaguete.png" alt="image espaguete">
         </div>
         <div class="card-info">
              <h3>Espaguete ao alho</h3>
              <p class="author">por Júlia Kinoto</p>
         </div>
     </div>

     <div class="card" id="lasanha.png">
         <div class="card-image">
              <img src="/assets/lasanha.png" alt="image lasanha">
         </div>
         <div class="card-info">
              <h3>Lasanha mac n' cheese</h3>
              <p class="author">por Juliano Vieira</p>
         </div>
     </div>

     <div class="card" id="doce.png">
         <div class="card-image">
              <img src="/assets/doce.png" alt=" image doce">
         </div>
         <div class="card-info">
              <h3>Docinhos pão-do-céu</h3>
              <p class="author">por Ricardo Golvea</p>
         </div>
     </div>

     <div class="card" id="asinhas.png">
         <div class="card-image">
              <img src="/assets/asinhas.png" alt="image asinhas">
         </div>
         <div class="card-info">
              <h3>Asinha de frango ao barbecue</h3>
              <p class="author">por Vania Steroski</p>
         </div>
     </div>

     <div class="card" id="burger.png">
        <div class="card-image">
             <img src="/assets/burger.png" alt="image burger">
        </div>
        <div class="card-info">
             <h3>Trigo bacon burger</h3>
             <p class="author">por Jorge Relato</p>
        </div>
    </div>

    <div class="card" id="pizza.png">
        <div class="card-image">
             <img src="/assets/pizza.png" alt="image pizza">
        </div>
        <div class="card-info">
             <h3>Pizza 4 estações</h3>
             <p class="author">por Fabiana Melo</p>
        </div>
    </div>

    <div class="card" id="espaguete.png">
        <div class="card-image">
             <img src="/assets/espaguete.png" alt="image espaguete">
        </div>
        <div class="card-info">
             <h3>Espaguete ao alho</h3>
             <p class="author">por Júlia Kinoto</p>
        </div>
    </div>

    <div class="card" id="lasanha.png">
        <div class="card-image">
             <img src="/assets/lasanha.png" alt="image lasanha">
        </div>
        <div class="card-info">
             <h3>Lasanha mac n' cheese</h3>
             <p class="author">por Juliano Vieira</p>
        </div>
    </div>

    <div class="card" id="doce.png">
        <div class="card-image">
             <img src="/assets/doce.png" alt=" image doce">
        </div>
        <div class="card-info">
             <h3>Docinhos pão-do-céu</h3>
             <p class="author">por Ricardo Golvea</p>
        </div>
    </div>

    <div class="card" id="asinhas.png">
        <div class="card-image">
             <img src="/assets/asinhas.png" alt="image asinhas">
        </div>
        <div class="card-info">
             <h3>Asinha de frango ao barbecue</h3>
             <p class="author">por Vania Steroski</p>
        </div>
    </div>

</section>
<div class="modal-overlay">

    <div class="modal">

        <div class="modal-content">
            <img src="" alt="">
        </div>
        
        <div class="modal-info">
            <h3>Trigo bacon burger</h3>
            <p class="author">por Jorge Relato</p>
        </div>

        <div class="modal-close">
            <a href="">Fechar</a>
        </div>

    </div>   
</div>


        <footer>
            <div class="footer-info">
                <h3>Todos os diretios reservados, receitas Foodfy.</p>
            </div>
        </footer>
        <script src="/scripts/modal.js"></script>

    </body>
</html>