{%extends "layout.njk"%}
{%set pageId = "recipes"%}
{%block title%}
     <title>Recipes</title>
{%endblock title%}

{%block links%}
     <link rel="stylesheet" href="styles/recipes.css">
      <link rel="stylesheet" href="styles/header.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}
{% block content %}
     <section class="cards">
          <div class="card" id="burger">
               <div class="card-image">
                    <img src="assets/burger.png" alt="image burger">
               </div>
               <div class="card-info">
                    <h3>Trigo bacon burger</h3>
                    <p class="author">por Jorge Relato</p>
               </div>
          </div>

          <div class="card" id="pizza">
               <div class="card-image">
                    <img src="assets/pizza.png" alt="image pizza">
               </div>
               <div class="card-info">
                    <h3>Pizza 4 estações</h3>
                    <p class="author">por Fabiana Melo</p>
               </div>
          </div>

          <div class="card" id="espaguete">
               <div class="card-image">
                    <img src="assets/espaguete.png" alt="image espaguete">
               </div>
               <div class="card-info">
                    <h3>Espaguete ao alho</h3>
                    <p class="author">por Júlia Kinoto</p>
               </div>
          </div>

          <div class="card" id="lasanha">
               <div class="card-image">
                    <img src="assets/lasanha.png" alt="image lasanha">
               </div>
               <div class="card-info">
                    <h3>Lasanha mac n' cheese</h3>
                    <p class="author">por Juliano Vieira</p>
               </div>
          </div>

          <div class="card" id="doce">
               <div class="card-image">
                    <img src="assets/doce.png" alt=" image doce">
               </div>
               <div class="card-info">
                    <h3>Docinhos pão-do-céu</h3>
                    <p class="author">por Ricardo Golvea</p>
               </div>
          </div>

          <div class="card" id="asinhas">
               <div class="card-image">
                    <img src="assets/asinhas.png" alt="image asinhas">
               </div>
               <div class="card-info">
                    <h3>Asinha de frango ao barbecue</h3>
                    <p class="author">por Vania Steroski</p>
               </div>
          </div>

          <div class="card" id="burger">
               <div class="card-image">
                    <img src="assets/burger.png" alt="image burger">
               </div>
               <div class="card-info">
                    <h3>Trigo bacon burger</h3>
                    <p class="author">por Jorge Relato</p>
               </div>
          </div>

          <div class="card" id="pizza">
               <div class="card-image">
                    <img src="assets/pizza.png" alt="image pizza">
               </div>
               <div class="card-info">
                    <h3>Pizza 4 estações</h3>
                    <p class="author">por Fabiana Melo</p>
               </div>
          </div>

          <div class="card" id="espaguete">
               <div class="card-image">
                    <img src="assets/espaguete.png" alt="image espaguete">
               </div>
               <div class="card-info">
                    <h3>Espaguete ao alho</h3>
                    <p class="author">por Júlia Kinoto</p>
               </div>
          </div>

          <div class="card" id="lasanha">
               <div class="card-image">
                    <img src="assets/lasanha.png" alt="image lasanha">
               </div>
               <div class="card-info">
                    <h3>Lasanha mac n' cheese</h3>
                    <p class="author">por Juliano Vieira</p>
               </div>
          </div>

          <div class="card" id="doce">
               <div class="card-image">
                    <img src="assets/doce.png" alt=" image doce">
               </div>
               <div class="card-info">
                    <h3>Docinhos pão-do-céu</h3>
                    <p class="author">por Ricardo Golvea</p>
               </div>
          </div>

          <div class="card" id="asinhas">
               <div class="card-image">
                    <img src="assets/asinhas.png" alt="image asinhas">
               </div>
               <div class="card-info">
                    <h3>Asinha de frango ao barbecue</h3>
                    <p class="author">por Vania Steroski</p>
               </div>
          </div>
          <footer>
               <div class="footer-info">
                    <h3>Todos os diretios reservados, receitas Foodfy.</p>
               </div>
          </footer>
     </section>
{% endblock content %}
{% block scripts %}
     <script src="scripts/recipes.js"></script>
{% endblock scripts %}