<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {%block title%}
            <title>Foodfy</title>
        {%endblock title%}

        {%block links%}{%endblock links%}
    </head>
    <body>
        <header>
            <img src="/assets/foodfy.png" alt="logomarca">
            <a class="header-item" href="/admin/recipes">Receitas</a>
            <a class="header-item" href="/admin/chefs">Chefs</a>
            <a class="header-item" href="/">
                <i class="fas fa-home"></i>
            </a>
        </header>
        {% block content %}{% endblock content %}

    </body>
</html>