header {
    max-width: 100%;
    background-color: black;
    margin-bottom: 24px;
    text-align: center;
}

header a {
    position: relative;
    bottom: 24px;
    left: 30px;
}

header img {
    padding: 16px;
}

.header-item {
    margin: 0 24px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.918);
}