@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.cards {
    width: 940px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 10vh;
}

.card-image img {
    border-radius: 10px;
    margin: 0 auto;
    width: 300px;
    height: 100px;
}

.card-info {
    padding: 5px;
}

.card-info h3 {
    font-size: 18px;
    line-height: 21px;
    margin: 5px auto;
}

.author {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

.new a {
    width: 940px;
    margin-left: 150px;
    font-size: 14px;
    text-decoration: none;
    background-color: #52ABF4;
    color: white;
    border-radius: 5px;
    padding: 0.5%;
}

.show_more a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 2px 10px;
    color: #D15B75;
    border-radius: 8px;
}