{%extends "../general/layout.njk"%}

{%set pageId = "recipe"%}

{%block title%}
    <title>{{item.title}}</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="/styles/recipe.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{%block header%}{%endblock header%}

{% block content %}
    <section>
        <div class="container">        
           
            <div class="recipe-img">
                <img src="{{item.image}}" alt="Imagem de {{item.title}}">
            </div>

            <div class="recipe-info">
                <h2>{{item.title}}</h2>
                <p>por
                    {{item.author}}</p>
            </div>

            <div class="recipe-description">
                <div class="container-info">
                    <div class="title">
                        <h3>Ingredientes</h3>
                    </div>
                    <div class="span">
                        <span>Esconder</span>
                    </div>
                </div>
                <div class="content">
                    <ul>
                      {% for ingredients in item.ingredients %}
                        <li>{{ingredients}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="recipe-description">
                <div class="container-info">
                    <div class="title">
                        <h3>Modo de preparo</h3>
                    </div>
                    <div class="span">
                        <span>Esconder</span>
                    </div>
                </div>
                <div class="content">
                    <ul>
                         {% for preparation in item.preparation %}
                        <li>{{preparation}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="recipe-description">
                <div class="container-info">
                    <div class="title">
                        <h3>Informações adicionais</h3>
                    </div>
                    <div class="span">
                        <span>Esconder</span>
                    </div>
                </div>
                <div class="content">
                    <p>{{item.information}}</p>
                </div>
            </div>
        </div>
    </section>
     <script src="/scripts/recipes.js"></script>
{% endblock content%}

    

