{% extends 'site/layout.njk' %}

{% block content %}

<section class="about">
  <div class="about-foodfy">

    <h2>
      Sobre o Foodfy
    </h2>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, repellat voluptate quibusdam,
      nesciunt
      incidunt modi placeat, debitis nobis provident optio possimus labore excepturi porro? Itaque sapiente
      blanditiis
      perferendis voluptas quia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reiciendis officiis
      amet,
      vitae ad sint assumenda quasi aliquam facere, suscipit veritatis. Ut doloremque adipisci amet labore modi
      excepturi ad possimus.
      <br><br>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus, repellat voluptate quibusdam,
      nesciunt
      incidunt modi placeat, debitis nobis provident optio possimus labore excepturi porro? Itaque sapiente
      blanditiis
      perferendis voluptas quia?Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, reiciendis officiis
      amet,
      vitae ad sint assumenda quasi aliquam facere, suscipit veritatis. Ut doloremque adipisci amet labore modi
      excepturi ad possimus.
    </p>

  </div>
  <div class="about-begin">
    <h3>
      Como tudo começou...
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non voluptas mollitia dolor maiores natus illum a,
      ipsam
      voluptates vitae quo aliquam cumque eaque odio hic, animi dolores officia blanditiis atque. Lorem, ipsum
      dolor
      sit
      amet consectetur adipisicing elit. Praesentium corrupti temporibus, velit accusamus fugit iusto atque nihil
      dignissimos, veritatis delectus dolores reiciendis, perspiciatis voluptates blanditiis eius. Enim beatae
      molestiae
      quod?
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur pariatur similique voluptatibus
      vero,
      perferendis aliquid quos perspiciatis error earum iure, aliquam, blanditiis libero deleniti ea eius est
      aspernatur
      nesciunt amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dolorem veniam temporibus
      excepturi
      asperiores aliquam eius neque porro vel veritatis totam, nobis molestias consequatur iste, suscipit aliquid
      tempora maiores velit.</p>
  </div>

  <div class="about-recipes">
    <h3>Nossa receitas</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro repudiandae aliquam nobis omnis voluptates
      ipsam
      doloribus nemo, nostrum reiciendis perspiciatis quisquam odio quasi accusamus, molestias, molestiae
      cupiditate
      qui
      fuga ea. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam atque perspiciatis cupiditate
      dolore
      iure ratione eos, aperiam, consequuntur ipsa ipsam, ea deserunt veritatis aut voluptatum repellendus vero
      voluptas
      quis? Iusto!
    </p>
  </div>
</section>

{% endblock %}