{%extends "../general/layout.njk"%}
{%block title%}
     <title>Chefs</title>
{%endblock title%}

{%block links%}
     <link rel="stylesheet" href="/styles/chefs.css">
     <link rel="stylesheet" href="/styles/header.css">
     <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}
     <section>
          <div class="chefs-header-buttons">
               <form action="/chefs" method="GET">
                    <input type="text" name="filter" placeholder="Nome do chef" value="{{filter}}">
                    <button type="submit"></button>
               </form>
          </div>
          
          <div class="chefs">
               {%for chef in chefs%}
                    <div class="card" id="{{chef.id}}">
                         <div class="avatar">
                              <img src="{{chef.avatar_url}}">
                         </div>
                         <div class="content">
                              <div class="name">
                                   <h4>
                                        <a href="/chef/{{chef.id}}">{{chef.name}}</a>
                                   </h4>
                              </div>
                              <div class="total_recipes">
                                   <p>
                                        {% if chef.total_recipes > 1 %}{{chef.total_recipes}}
                                             receitas{% endif %}
                                        {% if chef.total_recipes == 0 %}0 receitas
                                        {% endif %}
                                        {% if chef.total_recipes == 1 %}{{chef.total_recipes}}
                                             receita
                                        {% endif %}
                                   </p>
                              </div>
                         </div>

                    </div>
               {% endfor %}
          </div>

     </section>

     <div class="pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}" data-filter="{{filter}}"></div>

     <script src="/scripts/admin-features.js"></script>
{% endblock content %}