{%set pageId = "home"%}

{%block title%}
    <title>Foodfy</title>
{%endblock title%}

{%block links%}
    <link rel="stylesheet" href="styles/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}

    <header>
        <div class="part_a">
            <img src="/assets/logo.png" alt="logomarca">
            <a class="header-item" href="/about">Sobre</a>
            <a class="header-item" href="/recipes">Receitas</a>
            <a class="header-item" href="/chefs">Chefs</a>
            <a class="header-item" href="/">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div class="part_b">
            <form action="/recipes" method="GET">
                <input type="text" name="filter" placeholder="Busque uma receita" value="{{filter}}">
                <button type="submit"></button>
            </form>
        </div>
    </header>

    <div class="container">
        <div class="banner">
            <div class="bannercontent">
                <h3>
                    As melhores receitas!
                </h3>
                <p>
                    Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro
                </p>
            </div>
            <div class="bannerimage">
                <img src="assets/chef.png" alt="chef">
            </div>
        </div>
        <div class="title">
            <h3>
                Mais acessadas
            </h3>
        </div>
    </div>
    <section class="recipes">
        <div class="recipes-grid">
            {% for recipe in recipes %}

                <div class="recipe" name="id" value="{{recipe.id}}">
                    <div class="recipe-img">
                        <img src="{{recipe.image}}" alt="Image de {{recipe.title}}">
                    </div>

                    <div class="recipe-content">
                        <h3>{{recipe.title}}</h3>
                        <div class="recipe-chef">
                            <p>
                                {% if recipe.chef_name == null %}
                                    <p>
                                        por Chef Anônimo
                                    </p>
                                {% endif %}

                                {% if recipe.chef_name != null %}
                                    <p>
                                        por
                                        {{recipe.chef_name}}
                                    </p>
                                {% endif %}
                            </p>
                        </div>

                    </div>
                </div>

            {% endfor %}

        </section>
        <footer>
            <p>Todos os direitos reservados, receitas Foodfy.</p>
        </footer>
        <script src="/scripts/recipes.js"></script>
    {% endblock content %}