{%extends "../general/layout.njk"%}
{%set pageId = "recipes"%}
{%block title%}
  <title>Receitas</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="styles/recipes.css">
  <link rel="stylesheet" href="styles/header.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}

  <div class="top">
    <form action="/recipes" method="GET">
      <input type="text" name="filter" placeholder="Nome da receita" value="{{filter}}">
      <button type="submit"></button>
    </form>
  </div>

  <section class="recipes">
    <div class="recipes-grid">
      {% for recipe in recipes %}

        <div class="recipe" name="id" value="{{recipe.id}}">
          <div class="recipe-img">
            <img src="{{recipe.image}}" alt="Image de {{recipe.title}}">
          </div>

          <div class="recipe-content">
            <h3>{{recipe.title}}</h3>
            <div class="recipe-chef">
              <p>
                {% if recipe.chef_name == null %}
                  <p>
                    por Chef Anônimo
                  </p>
                {% endif %}

                {% if recipe.chef_name != null %}
                  <p>
                    por
                    {{recipe.chef_name}}
                  </p>
                {% endif %}
              </p>
            </div>

          </div>
        </div>

      {% endfor %}

    </section>
    <div class="pagination" data-page="{{pagination.page}}" data-total="{{pagination.total}}" data-filter="{{filter}}"></div>
    <script src="/scripts/recipes.js"></script>

  {% endblock content %}