{%extends "../general/layout.njk"%}

{%set pageId = "recipe"%}

{%block title%}
  <title>{{recipe.title}}</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="/styles/recipe.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{%block header%}{%endblock header%}

{% block content %}
  <div class="card">
    <section class="details">
      <div class="top"></div>
     <div class="gallery">
            <div class="highlight">
                {% if not files[0] %}
                    <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
                {% else %}
                    <img src="{{files[0].src}}" alt="{{files[0].name}}" onclick="Lightbox.open()">
                {% endif %}

            <div class="gallery-preview">

                {% for image in files %}

                    <img src="{{image.src}}" alt="{{image.name}}"{%if loop.index0 == 0 %} class="active" {%endif%} onclick="ImageGallery.setImage(event)">

                {% endfor %}
            </div>
        </div>

      <div class="recipe-info">
        <div>
          <h2>{{recipe.title}}</h2>
        </div>
        <div>
          <p>{{recipe.chef_name}}
            <p></div>
          </div>

          <div class="recipe-description">
             <div class="hide-button">
            <div>
              <h3>Ingredientes</h3>
            </div>
            <div class="span">
              <span>Esconder</span>
            </div>
            </div>
            <div class="content">
              <ul>
                {% for ingredient in recipe.ingredients %}
                  <li>{{ingredient}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="recipe-description">
            <div class="hide-button">
            <div>
              <h3>Modo de preparo</h3>
            </div>
            <div class="span">
              <span>Esconder</span>
            </div>
            </div>
            <div class="content">
              <ul>
                {% for step in recipe.preparation %}
                  <li>{{step}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="recipe-description">
             <div class="hide-button">
            <div>
              <h3>Informações extras</h3>
            </div>
            <div class="span">
              <span>Esconder</span>
            </div>
            </div>
            <div class="content">
              <p>{{recipe.information}}</p>
            </div>

          </div>

        </section>
      </div>
      <script src="/scripts/recipes.js"></script>
    {% endblock content%}