<div class="item">
    <div>Imagem da Receita</div>
    <div><input type="url" name="image" placeholder="https://" value="{{recipe.image}}"></div>
</div>

<div class="item">
    <div>Nome da receita</div>
    <div><input type="text" name="name" placeholder="Digite o nome da receita" value="{{recipe.name}}"></div>
</div>

<div class="item">
    <div>Autor da receita</div>
    <div><input type="text" name="author" placeholder="Digite seu nome" value="{{recipe.author}}"></div>
</div>

<div id="ingredients">
    <p>Ingredientes</p>
    {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ingredient}}"/>
        </div>
    {%endfor%}
    {% if not recipe %}
        <div class="ingredient">
            <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Digite um ingrediente"/>
        </div>
    {% endif %}
</div>

<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

<div id="actions">
    <p>Modo de preparo</p>
    {%for action in recipe.actions%}
        <div class="action">
            <input type="text" name="actions[]" value="{{action}}"/>
        </div>
        {%endfor%}
        {% if not recipe %}
            <div class="action">
                <input type="text" name="actions[]" value="{{action}}" placeholder="Digite um novo passo"/>
            </div>
        {% endif %}
</div>

<button type="button" class="add-action">Adicionar novo passo</button>

<div class="item">
    <div>Informações adicionais</div>
    <div>
        <textarea name="information" cols="30" rows="10" placeholder="Digite as informações extras">{{recipe.information}}</textarea>
    </div>
</div>