<header class="header admin-header">
  <div>
    <div class="header-logo">
      <a href="/home"><img src="/assets/logo2.png" alt="Foodfy logo"></a>
    </div>
    
    <div class="header-nav">
    {% if session.userId %}
      <div class="menu-drop">
        <p name="drop">Minha conta</p>
        <div class="drop-content">
          <a href="/admin/users/profile">Profile</a>
        </div>
      </div>
      {% endif %}
      
      <div class="menu-drop">
        <p name="drop">Receitas</p>
        <div class="drop-content">
          <a href="/admin/recipes/dashboard">Minhas receitas</a>
          <a href="/admin/recipes">Listar todas</a>
          <a href="/admin/recipes/create">Criar</a>
        </div>
      </div>

      <div class="menu-drop">
        <p name="drop">Chefs</p>
        <div class="drop-content">
          <a href="/admin/chefs">Listar</a>
          {% if session.isAdmin == true %}
          <a href="/admin/chefs/create">Criar</a>
          {% endif %}
        </div>
      </div>

      <div class="menu-drop">
        <p name="drop">Usuários</p>
        <div class="drop-content">
          <a href="/admin/users">Listar</a>
          {% if session.isAdmin == true %}
          <a href="/admin/users/create">Criar</a>
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  {% if session.userId %}
  <div>
    <form action="/admin/users/logout" method="POST">
      <button class='logout-button'>Sair</button>
    </form>
  </div>
  {% endif %}
</header>