<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/styles/admin/index.css">
<link rel="stylesheet" href="/styles/admin/chefs.css">
<link rel="stylesheet" href="/styles/admin/recipes.css">
<link rel="stylesheet" href="/styles/admin/messages.css">
<link rel="stylesheet" href="/styles/users/register.css">
<link rel="stylesheet" href="/styles/users/header-dropdown.css">
<link rel="stylesheet" href="/styles/users/index.css">
<link rel="stylesheet" href="/styles/session/login-form.css">