@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.card {
    width: 950px;
    margin: 5vh auto;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    color: #777777;
}

h5 {
    font-size: 18px;
}


/*==EDIT BUTTON AND PICTURE==*/

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.edit a {
    padding: 4px 24px;
    background-color: #52ABF4;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.recipe-img img {
    border-radius: 10px;
    margin: 0 auto;
    width: 940px;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/*==RECIPE INFORMATION==*/

.recipe-info h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.recipe-info p {
    text-align: center;
    color: #a5a4a4;
    font-size: 20px;
}

li {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}