@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 950px;
    margin: 2vh auto;
}

.top form {
    display: grid;
    grid-template-columns: 150px 30px;
    align-items: center;
}

button[type="submit"] {
    background-image: url(../../../assets/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 24px;
    background-color: #52ABF4;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 16px;
    margin-left: 2px;
}

.top input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}

.chefs {
    width: 950px;
    margin: auto;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 36px;
}

.content {
    margin-top: 16px;
    text-transform: capitalize;
}

.name h4 a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.avatar img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.total_recipes p {
    font-size: 14px;
    color: #777;
}

.pagination {
    text-align: center;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: #D15B75;
    text-decoration: none;
    margin-right: 16px;
    font-size: 20px;
}

.pagination a:hover {
    color: #52ABF4;
    border-bottom: 1px solid #52ABF4;
}

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 0.5%;
}