@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    max-width: 940px;
    margin: 5vh auto;
}

.title2 {
    font-weight: 700;
    font-size: 20px;
    color: #111111;
}

.banner {
    background-color: #FBDFDB;
    max-width: 940px;
    height: 366px;
    margin: 5vh auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.bannerimage {
    margin-left: 248px;
    margin-right: 100px;
    margin-top: 66px;
    height: 300px;
    width: 216px;
}

.bannercontent {
    margin-top: 117px;
    margin-left: 60px;
}

.bannercontent h3 {
    font-weight: 700;
    font-size: 32px;
    color: #111111;
    margin: 0;
}

.bannercontent p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    width: 316px;
    height: 84px;
    margin-bottom: 1px;
}

.cards {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 10vh;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
}

.card-info {
    padding: 5px;
}

.card-info h3 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}

.author {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

footer {
    background: #EEEEEE;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 2%;
}