@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto
}

.section {
    margin-bottom: 80px;
}


/*==HEADER==*/

header {
    margin: 0 auto;
    max-width: 960px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 200px;
}

header a {
    position: relative;
    bottom: 30px;
    left: 150px;
}

header img {
    margin: 20px 0;
}

.header-item {
    margin: 0 30px;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
    color: #111111;
}

.header-item:hover {
    color: #D15B75;
}


/*==HEADER - FILTER==*/

.part_b {
    margin-top: 12px;
}

header form {
    display: grid;
    grid-template-columns: 1fr 80px;
    width: 100px;
}

button[type="submit"] {
    background-image: url(../../../assets/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 24px;
    background-color: #52ABF4;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 16px;
    margin-left: 2px;
}

button[type="submit"]:hover {
    background-color: #1088d8;
}

header input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}


/*==PINK BANNER==*/

.title {
    font-weight: 700;
    font-size: 24px;
    color: #111111;
    max-width: 940px;
    margin: 5vh auto;
}

.title2 {
    font-weight: 700;
    font-size: 20px;
    color: #111111;
}

.banner {
    background-color: #F3CED6;
    max-width: 940px;
    height: 366px;
    margin: 2vh auto;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.bannerimage {
    margin-left: 248px;
    margin-right: 100px;
    margin-top: 66px;
    height: 300px;
    width: 216px;
}

.bannercontent {
    margin-top: 117px;
    margin-left: 60px;
}

.bannercontent h3 {
    font-weight: 700;
    font-size: 32px;
    color: #111111;
    margin: 0;
}

.bannercontent p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    width: 316px;
    height: 84px;
    margin-bottom: 1px;
}


/*==RECIPES GRID==*/

.recipes {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.recipes-grid {
    display: grid;
    width: 950px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipes-grid .recipe {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.recipes-grid .recipe-img img {
    height: 100px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    cursor: pointer;
}

.recipes-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.recipe-chef {
    color: #777;
    margin-bottom: 8px;
    font-size: 16px;
}

.recipe-content {
    font-size: 16px;
    margin-top: 8px;
}


/*==FOOTER==*/

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 0.5%;
}