@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    color: #777777;
}

h5 {
    font-size: 18px;
}


/*==RECIPE IMAGE==*/

.card {
    width: 950px;
    margin: 5vh auto;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.recipe-img img {
    border-radius: 10px;
    margin: 0 auto;
    width: 940px;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/*==RECIPE INFORMATION==*/

.recipe-info h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.recipe-info p {
    text-align: center;
    color: #a5a4a4;
    font-size: 20px;
}

li {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/*==HIDE/SHOW SPAN==*/

.hide-button {
    display: grid;
    grid-template-columns: 230px 10px;
    align-items: center;
}

.span span {
    color: #fa8da5;
    padding: 0;
    width: 20%;
    background: none;
    transition: 200ms;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.span span:hover {
    background: none;
    color: #1583e9;
    border: none;
}

.content.active {
    visibility: hidden;
    width: 0;
    height: 0;
}

.content {
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    align-items: center;
}


/*==FOOTER==*/

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
}