@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cards {
    width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 10vh;
}

.card-image img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

.card-info {
    padding: 5px;
}

.card-info h3 {
    font-size: 18px;
    line-height: 21px;
    margin-top: 5px;
}

.author {
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}

footer {
    background: #EEEEEE;
    padding: 2%;
    text-align: center;
}

footer p {
    font-size: 18px;
    color: #999999;
}