@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary-color: #fbb7f6;
    --second-color: #363b0c;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}


/*==FILTER==*/

.recipes-header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 950px;
    margin: 2vh auto;
}

.recipes-header-buttons form {
    display: grid;
    grid-template-columns: 300px 30px;
    align-items: center;
}

.recipes-header-buttons a {
    background-color: #52ABF4;
    padding: 8px 24px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-size: 700;
    width: 110px;
    text-align: center;
}

.recipes-header-buttons input {
    border: solid #d9e3fb;
    padding: 8px;
    border-radius: 10px;
}

button[type="submit"] {
    background-image: url(../../../assets/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 24px;
    background-color: #52ABF4;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    width: 16px;
    margin-left: 2px;
}

button[type="submit"]:hover {
    background-color: #1088d8;
}


/*==RECIPES GRID==*/

.recipes {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.recipes-grid {
    display: grid;
    width: 950px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.recipes-grid .recipe {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.recipes-title {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipes-grid .recipe-img img {
    height: 100px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    margin: 0;
    cursor: pointer;
}

.recipe-content {
    font-size: 16px;
    margin-top: 8px;
}

.recipe-chef {
    color: #777;
    margin-bottom: 8px;
    font-size: 16px;
}

.show_more a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #D15B75;
    border-radius: 8px;
    transition: 200ms;
}

.show_more a:hover {
    color: #1583e9;
}


/*==FOOTER AND PAGINATION==*/

.pagination {
    text-align: center;
    justify-self: center;
}

.pagination a,
.pagination span {
    color: #D15B75;
    text-decoration: none;
    margin-right: 16px;
    font-size: 20px;
}

.pagination a:hover {
    color: #52ABF4;
    border-bottom: 1px solid #52ABF4;
}

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 0.5%;
}