@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
    color: #777777;
}

h5 {
    font-size: 18px;
}


/*==RECIPE IMAGE==*/

.card {
    width: 950px;
    margin: 5vh auto;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


/*FOOD IMAGE GALLERY*/

.gallery {
    width: 100%;
}

.highlight>img {
    width: 100%;
    height: 280px;
    object-fit: fill;
    object-position: center;
    border: 1px solid #efefef;
    cursor: zoom-in;
    border-radius: 4px;
}

.gallery-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery-preview img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    cursor: pointer;
    transition: 200ms;
}

.gallery-preview img:hover,
.gallery-preview img.active {
    opacity: 1;
}


/*==FOOD GALLERY - LIGHTBOX ==*/

.highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    overflow: hidden;
    z-index: 100;
    top: -100%;
    left: 0;
    opacity: 0;
    transition: opacity 400ms;
}

.highlight .lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.highlight a.lightbox-close {
    width: 50px;
    height: 50px;
    background: white;
    color: red;
    position: absolute;
    top: -80px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;
}


/*==RECIPE INFORMATION==*/

.recipe-info h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.recipe-info p {
    text-align: center;
    color: #a5a4a4;
    font-size: 20px;
}

li {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}


/*==HIDE/SHOW SPAN==*/

.hide-button {
    display: grid;
    grid-template-columns: 230px 10px;
    align-items: center;
}

.span span {
    color: #fa8da5;
    padding: 0;
    width: 20%;
    background: none;
    transition: 200ms;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.span span:hover {
    background: none;
    color: #1583e9;
    border: none;
}

.content.active {
    visibility: hidden;
    width: 0;
    height: 0;
}

.content {
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    align-items: center;
}


/*==FOOTER==*/

footer {
    background: #EEEEEE;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
}