{% extends '../layout.njk' %}

{%block content%}

  <div class="edit-wrapper">
    <header>
      <h3>Editando receita:
        {{recipe.title}}</h3>
      <div class="edit-buttons">
        <button type='submit' form='form-delete' class='delete-button'>Deletar</button>
        <button type='submit' form='form-edit' class='save-button'>Salvar receita</a>
      </div>
    </header>

    <form id='form-edit' method='POST' action='/admin/recipes/?_method=PUT' enctype="multipart/form-data">

      {% include '../parts/recipes-fields.njk' %}
      
      <input type="hidden" name='id' value={{recipe.id}}>
    </form>

    <form id='form-delete' action="/admin/recipes?_method=DELETE" method="post">
      <input type="hidden" name="id" value='{{recipe.id}}'>
    </form>

  </div>

{% endblock %}