<div class="item">
  <div>Imagens da receita</div>

  <div id="images-preview">
    <div id="images-upload">
      <input id="images-input" type="file" name="images" multiple accept="image/*"
        onchange="ImagesUpload.handleFileInput(event, 5)">
      <div class="images-add">
        <i class="material-icons">add</i>
      </div>
    </div>
    {% if recipe.files %}
    {% for image in recipe.files %}
    <div class="image" id="{{image.id}}">
      <img src="{{image.path}}" alt="{{image.name}}">
      <i class="material-icons" onclick="ImagesUpload.removeOldImage(event)">delete</i>
    </div>
    {% endfor %}
    <input type="hidden" name="removed_files">
    {% endif %}
  </div>
</div>

<div class="item">
  <div>Título da receita</div>
  <div><input type="text" name="title" value='{{recipe.title}}'></div>
</div>

<div class="item">
  <div><input type="hidden" name="author" value='{{chefs_id}}'></div>
</div>

<div class="item" id='ingredients'>
  <div>Ingredientes</div>
  <div class='field-container'>
  {% for ingredient in recipe.ingredients %}
    <div>
      <input type="text" name="ingredients" value='{{ingredient}}'>
    </div>
  {% endfor %}
  </div>
<a class='add-field add-ingredient' onclick='addFields.add(event)'>Adicionar novo ingrediente</a>
</div>

<div class="item" id='preparation'>
  <div>Modo de preparo</div>
  {% for step in recipe.preparation %}
  <div class='field-container'>
    <div>
      <input type="text" name="preparation" id="" value='{{step}}'>
    </div>
  </div>
  {% endfor %}
<a class='add-field add-preparation' onclick='addFields.add(event)'>Adicionar novo passo</a>
</div>


<div class="item">
  <div>Informações adicionais</div>
  <div><textarea type="text" name="information" id="information">{{recipe.information}}</textarea></div>
</div>