{% extends "../layout.njk" %}
{%block title%}
  <title>
    Gerenciar Receita</title>
{%endblock title%}

{%block links%}
  <link rel="stylesheet" href="/styles/admin/recipes/show.css">
  <link rel="stylesheet" href="/styles/admin/header.css">
  <script src="https://kit.fontawesome.com/bcd7f656b1.js" crossorigin="anonymous"></script>
{%endblock links%}

{% block content %}
  <section class="card">

    <div class="details">
      <div class="recipe-header">
        <h3>Receita:
          {{recipe.title}}</h3>

        <div class="edit">
          <a href="/admin/recipes/{{recipe.id}}/edit" class="button">
            Editar</a>
        </div>

      </div>

      <div class="gallery">

        <div class="highlight">
          {% if not files[0] %}
            <img src="http://placehold.it/500x500?text=RECEITA SEM FOTO">
          {% else %}
            <img src="{{files[0].src}}" alt="{{files[0].name}}" onclick="Lightbox.open()">
          {% endif %}
        </div>

        <div class="preview">
          <div class="gallery-preview">

            {% for image in files %}

              <img src="{{image.src}}" alt="{{image.name}}" {%if loop.index0 == 0 %} class="active" {%endif%} onclick="ImageGallery.setImage(event)">

            {% endfor %}
          </div>
        </div>

      </div>

      <div class="recipe-info">

        <div>
          <h2>{{recipe.title}}</h2>
        </div>

        <div>
          <p>{{recipe.chef_name}}
            <p></div>

          </div>

          <div class="recipe-ingredients">
            <div>
              <h3>Ingredientes</h3>
            </div>

            <ul>
              {% for ingredient in recipe.ingredients %}
                <li>{{ingredient}}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="recipe-preparation">
            <div>
              <h3>Modo de preparo</h3>
            </div>

            <ul>
              {% for step in recipe.preparation %}
                <li>{{step}}</li>
              {% endfor %}
            </ul>
          </div>

          <div class="recipe-information">

            <h3>Informações extras</h3>

            <div>
              <p>{{recipe.information}}</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <script src="/scripts/admin-features.js"></script>
{% endblock content %}