<script>
const formDelete = document.querySelector("#form-delete")
formDelete.addEventListener("submit", function(event) {
    const confirmation = confirm("Você tem certeza que quer DELETAR?")
    if (!confirmation) {
        event.preventDefault()
    }
})
</script>