<section class="recipes">
<div class="recipes-grid">
{% for recipe in recipes %}

    <div class="recipe">
     
      <div class="recipe-img">
            <img src="{{recipe.image}}" alt="" class="Image de {{recipe.title}}">
        </a>
      </div>

      <div class="recipe-content">
       <h3>{{recipe.title}}</h3>

        <div class="recipe-chef">
          <p>
            {% if recipe.chef_name == null %}
            <p>
              por Chef Anônimo
            </p>
            {% endif %}

            {% if recipe.chef_name != null %}
            <p>
              por
              {{recipe.chef_name}}
            </p>
            {% endif %}
          </p>
        </div>

        <div class="show_more">
          <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
        </div>

    </div>
</div>

{% endfor %}

