    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0 auto
    }
    
    header {
        max-width: 940px;
        margin: 0 auto;
    }
    
    header a {
        position: relative;
        bottom: 30px;
        left: 150px;
    }
    
    header img {
        margin: 20px auto;
    }
    
    .header-item {
        margin: 0 30px;
        font-size: 16px;
        line-height: 26px;
        text-decoration: none;
        color: #111111;
    }
    
    .cards {
        width: 940px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 10vh;
    }
    
    .card-image img {
        width: 100%;
        border-radius: 15px;
        cursor: pointer;
    }
    
    .card-info {
        padding: 5px;
    }
    
    .card-info h3 {
        font-size: 18px;
        line-height: 21px;
        margin-top: 5px;
    }
    
    .author {
        font-size: 14px;
        line-height: 16px;
        color: #777777;
    }
    
    .modal-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        opacity: 0;
        visibility: hidden;
    }
    
    .modal-overlay.active {
        opacity: 1;
        visibility: visible;
    }
    
    .modal {
        background-color: rgb(255, 253, 253);
        width: 660px;
        height: 413px;
        margin: 20vh auto;
        border-radius: 15px;
        position: relative;
    }
    
    .modal-content img {
        width: 600px;
        height: 200px;
        border-radius: 15px;
        margin: 30px;
    }
    
    .modal-info {
        text-align: center;
        margin: 10px auto;
    }
    
    .modal-close {
        text-align: center;
        position: relative;
        top: 65px;
    }
    
    .modal-close a {
        font-size: 14px;
        line-height: 16px;
        color: #777777;
        text-decoration: none;
    }
    
    footer {
        background: #EEEEEE;
        padding: 1%;
    }
    
    footer p {
        font-size: 14px;
        color: #999999;
        text-align: center;
    }